/** Delay **/
.delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.delay-600ms {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.delay-700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}
.delay-800ms {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.delay-900ms {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
/** Animation **/
.animated > g {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.bounce > g {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@keyframes girl-left-bounce {
  0% {
    transform: translateY(0);
  }
  50%, 100% {
    transform: translateY(16px);
  }
}
.girl-left-bounce {
  -webkit-animation-name: girl-left-bounce;
  animation-name: girl-left-bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@keyframes man-left-bounce {
  0% {
    transform: translateY(0);
  }
  50%, 100% {
    transform: translateY(6px);
  }
}
.man-left-bounce {
  -webkit-animation-name: man-left-bounce;
  animation-name: man-left-bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
}

@keyframes boy-left-bounce {
  0% {
    transform: translateY(0);
  }
  50%, 100% {
    transform: translateY(24px);
  }
}
.boy-left-bounce {
  -webkit-animation-name: boy-left-bounce;
  animation-name: boy-left-bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-delay: 0.8s;
}

@keyframes couple-girl-left-bounce {
  0% {
    transform: translateY(0);
  }
  50%, 100% {
    transform: translateY(18px);
  }
}
.couple-girl-left-bounce {
  -webkit-animation-name: couple-girl-left-bounce;
  animation-name: couple-girl-left-bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-delay: 0.85s;
}

@keyframes girl-right-bounce {
  0% {
    transform: translateY(0);
  }
  50%, 100% {
    transform: translateY(6px);
  }
}
.girl-right-bounce {
  -webkit-animation-name: girl-right-bounce;
  animation-name: girl-right-bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-delay: 0.95s;
}

@keyframes family-right-bounce {
  0% {
    transform: translateY(0);
  }
  50%, 100% {
    transform: translateY(8px);
  }
}
.family-right-bounce {
  -webkit-animation-name: family-right-bounce;
  animation-name: family-right-bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-delay: 0.8s;
}

@keyframes woman-right-bounce {
  0% {
    transform: translateX(0);
  }
  50%, 100% {
    transform: translateX(7px);
  }
}
.woman-right-bounce {
  -webkit-animation-name: woman-right-bounce;
  animation-name: woman-right-bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-delay: 1s;
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(10, 4, 1, 1deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(10, 0, 1, 0deg);
  }
}
.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

.bounce-enter-active {
  animation: bounce-in 2s;
}
.bounce-leave-active {
  animation: bounce-in 2s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 0.2s infinite alternate;
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blink-2 {
  animation: blink-2 0.2s infinite alternate;
}

/* Keyframes */

@keyframes zoomInZoomOut {
  100% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    transform: scale(1.4);
    transform-origin: center;
  }
  40% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
  }
  20% {
    opacity: 1;
    transform: scale(1.02);
    transform-origin: center;
  }
  0% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
  }
}

.zoomInZoomOut > g {
  -webkit-animation-name: zoomInZoomOut;
  animation-name: zoomInZoomOut;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-iteration-count: 1
}

/** End Animation **/