@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800|Nunito:400,700,800&display=swap');
body {
  margin: 0;
  background: rgb(217,240,245);
  background: linear-gradient(0deg, rgba(217,240,245,1) 0%, rgba(217,240,245,1) 20%, rgba(175,223,237,1) 100%);

}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}
.full {
  background-size: cover;
}
.accent {
  color: #AF1D1B
}
.accent2 {
  color: #00797B;
}
.uppercase {
  text-transform: uppercase;
}

/* App Container */

.card {
  position: relative;
  height: 100vh;
}
.card svg {
  width: 100%;
  height: 100%;
}
.text-container {
  text-align: center;
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
}
h1, h2 {
  margin: 0;
}
h1 {
  font-family: 'Nunito', sans-serif;
}
h2 {
  font-family: 'Nunito Sans', sans-serif;
}
.bold {
  font-weight: 700;
}
.text-container h2 {
  font-size: 2vw;
}
.vitual-button-container {
  position: relative;
  margin: auto;
}
.vitual-button {
  border: 1px solid #fff;
  background-color: rgba(255,255,255, .3);
  position: absolute;
  z-index: 3;
  cursor: pointer;
}
.vignette-effect {
   position: static;
}
.vignette-effect::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: radial-gradient(transparent, #0c0c0c)
}


.button {
  cursor: pointer;
}
.button:active  {
  transform: translateY(2px);
  transform-origin: center;
}
.svg-background {
  transform: translate(-50%, -50%) ;
}

.svg-background-winter {
  transform: scale(1.23);
  transform-origin: center;
}
/* .svg-container  {
  position: fixed;
  height: 100%;
  left: 50%;
  margin-left: -88.888vh;
}

@media (min-aspect-ratio: 16/9) {
  .svg-container  {
    height: auto;
    left: 0;
    width: 100%;
    top: 50%;
    margin-left: 0;
    margin-top: -28.125vw;
  }
} */

@media  (max-width: 991px) {}
@media (max-width: 767px) {
  /* html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  } */
}



/* Overlay On Mobile Screen */

.overlay {
  display: none;
}

.phone {
  height: 50px;
  width: 100px;
  border: 3px solid white;
  border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
}

.message {
  color: white;
  font-size: 1em;
  margin-top: 40px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@media screen and (orientation: portrait) {
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
}

